@import url(../illustration/__item/illustration__item.css);

.illustration{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    padding: 90px 48px;
    max-width: 1184px;
}

@media screen and (max-width: 1030px) {
    .illustration {
      grid-gap: 14px;
      padding: 92px 48px;
    }
  }

  @media screen and (max-width: 769px) {
    .illustration {
      grid-gap: 16px;
      padding: 88px 24px;
    }
  }

  @media screen and (max-width: 321px) {
    .illustration {
      grid-gap: 12px;
      padding: 64px 16px;
    }
  }
