.header__lang{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 28px;
    margin-top: 46px;
    margin-right: 48px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-self: flex-end;

}

@media screen and (max-width: 1024px) {
  .header__lang {
      font-size: 24px;
      line-height: 28px;
      margin-right: 24px;
  }
}

@media screen and (max-width: 770px) {
  .header__lang {
      margin-right: 24px;
  }
}

@media screen and (max-width: 400px) {
  .header__lang {
        font-size: 18px;
        line-height: 24px;
        margin-top: 70px;
        margin-right: 16px;
    }
}
