.lead__main-caption{
    margin: 0;
    color: white;
    margin-top: 8px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 780px) {
    .lead__main-caption {
        padding-left: 24px;
        color: white;
        margin-top: 8px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.15em;
        text-transform: uppercase;

        }
    }

    @media screen and (max-width: 321px) {
    .lead__main-caption {
        padding-left: 16px;
        color: white;
        margin-top: 8px;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
            }
        }    