.place__website__url:hover {
    opacity: 0.8;
}

.place__website__url{
    margin: 0 auto;
    color: white;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 456px;
    height: 22px;
}