.cover__subtitle{
    margin-top: 0;
    margin-bottom: 0;
    color: white; 
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    min-height: 66px;
    z-index: 2;
}
