@import url(../reasons/__title/reasons__title.css);
@import url(../reasons/__text/reasons__text.css);
@import url(../reasons/__data/reasons__data.css);
@import url(../reasons/__span-accent/reasons__span-accent.css);

.reasons{
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 92px;
}


@media screen and (max-width: 1024px) {
.reasons {
  max-width: 928px;
    }
}

@media screen and (max-width: 770px) {
  .reasons {
    max-width: 720px;
    padding-top: 88px;
    padding-bottom: 88px;
      }
  }

  @media screen and (max-width: 500px) {
    .reasons {
      max-width: 480px;
      padding-top: 88px;
      padding-bottom: 88px;
        }
    }

@media screen and (max-width: 321px) {
    .reasons {
      max-width: 288px;
      padding-top: 64px;
      padding-bottom: 64px;
        }
    }
