.lead__title{
    margin: 0 auto;
    margin-top: 56px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: white;
    max-width: 720px;
    align-self: center;
    text-align: center;}



@media screen and (max-width: 769px) {
    .lead__title {
        margin-top: 48px;
    }
}

@media screen and (max-width: 680px) {
    .lead__title {
        margin-top: 48px;
        font-weight: 700;
        font-size: 42px;
        line-height: 48px;
        max-width: 480px;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 321px) {
    .lead__title {
        margin-top: 48px;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        padding: 0px 16px;
        max-width: 288px;
    }
}

