@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);

.cover{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2A2C2F;
    position: relative;
    box-sizing: border-box;
    max-width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {
    .cover {
      max-width: 100%;
    }
}
