.cover__background::before{
    content: '';
    position: absolute;
    background-color: #2a2c2f;
    opacity: 0.3;
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
    z-index: 1;
}

.cover__background:hover::before{
    opacity: 0.8;
    transition: all 2s;
}

.cover__background{
    background-image: url(../../../images/baikal_cover.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__background{
    min-height: 640px;
  }
}

@media screen and (max-width: 770px) {
  .cover__background{
    min-height: 480px;
  }
}

@media screen and (max-width: 570px) {
  .cover__background{
    min-height: 380px;
  }
}

@media screen and (max-width: 400px) {
  .cover__background{
    min-height: 200px;
  }
}
