.place__website-url-heading{
    margin: 0px;
    color: #AAAAAA;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    height: 12px;
    margin-bottom: 12px;
}
